.movie {
    margin: 1rem;
    padding: 1rem;
    background-color: #664d86;
    box-shadow: 0 2px 2pxrgba(136, 136, 136, 0.26));
    border-radius: 2px;
    text-align: center;
    color: rgb(190, 190, 190);
}

.movie h2 {
    font-size: 2rem;
    color: #ffffff;
}

.movie h3 {
    color: #cc7340;
    margin: 0;
    font-size: 1rem;
}
