section {
    margin: 1rem auto;
    width: 90%;
    max-width: 40rem;
    text-align: center;
    background-color: rgb(192, 192, 192);
    padding: 2rem;
    border-radius: 2px;
}

button {
    font: inherit;
    cursor: pointer;
    background: #d47508;
    border: 1px solid #d47508;
    color: black;
    padding: 0.75rem 2rem;
    border-radius: 2px;
}

button:focus {
    outline: none;
}

button:hover,
button:active {
    background-color: #b46306;
    border-color: #b46306;
}
